* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

body {
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
#particles canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.icon {
    color: black;
    height: 4vh;
    width: 4vh;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-column {
    flex-direction: column;
}
.no-min-height {
    min-height: 0 !important;
}
.player1,
.player2 {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.player1 {
    flex-direction: column-reverse;
    background-color: white;
    color: black;
    position: relative;
}
.player1 .roll-button {
    outline: none;
    border: none;
}
.player2 {
    background-color: black;
    color: white;
    position: relative;
    /* transform: rotateY(180deg); */
}
.player2 .roll-button {
    position: relative;
    outline: none;
    border: none;
}
.player2 .text-down {
    -moz-transform: rotate(-180deg); /* Firefox */
    -webkit-transform: rotate(-180deg) translate(50%, 50%); /* Webkit */
    -ms-transform: rotate(-180deg) translate(50%, 50%); /* IE */
    -o-transform: rotate(-180deg) translate(50%, 50%); /* Opera */
    transform: rotate(-180deg); /* future */
}
.player2 .text-down.roll-count {
    margin-bottom: 10%;
    font-size: 8vh;
}
.player1 .text-up.roll-count {
    margin-top: 10%;
    font-size: 8vh;
}
